html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.piloto {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.piloto img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.piloto > * {
  margin: 5px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .piloto img {
    width: 80px;
    height: 80px;
  }
}
